# Terraform directories
.terraform/
.terraform.tfstate.d/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
*.tfvars
*.tfvars.json

# IDE / OS files
.vscode/
*.log
